
/*#region common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}

:root{
    --drop-dark: #000000FF;
    --drop-light:#8b8b8bFF;
    --drop-lighter:#ffffffFF;
    --drop-accent:#61082bFF;
    --drop-main: #0061ffFF;
    --drop-second:#b4d0e7FF;
}
/*#endregion common*/


/*#region utility*/
.container{
    width: 70%;
    max-width: 1900px;
    margin: auto;
}

/*#endregion utility*/

/*#region debug*/
.debug .site_header{
    height: 40px;
    background-color: aqua;
}

.debug .container{
    height: 800px;
}

/*#endregion debug*/



/*#region header*/
ul{
    list-style: none;
}

nav ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.site_left{
    justify-content: end
}


/*#endregion header*/



/*#region main*/

.jumbo{
    background-color: var(--drop-second);
}

.jumbo_img{
    width: 300px;
}

/*#endregion main*/

/*#region footer*/

/*#endregion footer*/

