
/*#region common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: sans-serif;
}
.d-flex{
    display: flex;
}

:root{
    --drop-dark: #000000FF;
    --drop-light:#8b8b8bFF;
    --drop-lighter:#ffffffFF;
    --drop-accent:#61082bFF;
    --drop-main: #0061ffFF;
    --drop-second:#b4d0e7FF;
    --drop-designit:#A2D39BFF;
    --drop-designitsecond: #d1e9cdFF;
    --drop-uf: #0093ceFF;
    --drop-topps: #ff1c1cFF;
    --drop-wbr: #d5001fFF;
    --drop-lp: #0d2481FF;
    --drop-cco: #ffd830FF;
    --drop-designitbg: #f5f5f5FF;
}


/*#endregion common*/


/*#region utility*/

.btn{
    border: 0;
    padding: 0.5rem;
    font-size: 12px;
    background-color: var(--drop-main);
    color: var(--drop-lighter);
    text-align: center;
}

li{
    padding: 0.5rem;
}

hr{
    margin-top: 3rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
    color: var(--drop-light);
}

h2{
    padding: 2.5rem 0rem;
}


.jumbo .container{
    position:relative;
}

.container{
    width: 80%;
    max-width: 1900px;
    margin: auto;
}

.container-sm{
    max-width: 1200px;
    width: 70%;
    margin: auto;
    padding: 0.5rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.col-4{
    display: flex;
    gap: 2rem;
    width: calc((100%/12)*4);
}

.col-12{
    width: calc((100%/12)*12);
}

.card-title{
    text-align: center;
    border: 1px solid var(--drop-light);
    padding: 0.5rem;
}

.color{
    color: var(--drop-main);  /*for blue check*/
}

.txt-sm{
    font-size: 10px;
}



/*#endregion utility*/

/*#region debug*/
.debug .site_header{
    height: 40px;
}

.debug .container{
    height: 400px;
}
.debug .container-sm{
    height: 700px;
}

.debug [class^="col-"]{
    height: 300px;
    background-color: lightgoldenrodyellow;
}

/*#endregion debug*/



/*#region header*/

header{
    font-size: 13px;
}

ul{
    list-style: none;
}

span > .btn{
    background-color: var(--drop-lighter);
    color: var(--drop-dark);
}

nav ul{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.site_left{
    justify-content: end
}


/*#endregion header*/



/*#region main*/

.jumbo{
    background-color: var(--drop-second);
}

.jumbo_img{
    width: 800px;
    position: absolute;
    left: 450px;
    bottom: -85px;
}

.jum{
    width: 250px;
   
}

.text{
    display: inline-block;

}

.radio-check{
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan-bsn{
    padding-top: 4rem;
}

.plan-bsn .col-4{
    width: 30%;
}

.plan-bsn .row{
    gap: 2rem;
}


.card{
   display: flex;
   flex-flow: column;
   flex-wrap: nowrap;
}

.plan-bsn .card{
    border: 1px solid var(--drop-light);
}
   

.card-body{
    padding: 1.5rem;
    line-height: 2rem;
}

.container-clients{
 background-color: var(--drop-second);
 color: var(--drop-accent);
}

.square{
    width: calc((100%/12)*4);
    aspect-ratio: 1;  
    flex-wrap: wrap;
}

.box-faq{
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-between;
}

.col-faq{
    flex-grow: 1;
}

.client{
    width:calc((100%/12)*6);
    height: calc((100%/12)*6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
 
.container-clients > .container-sm{
    align-items: center;
}
   

.client-logo{
   width: 3.5rem;
}

.logo-big{
    width: 10rem;
}

.prt .btn{
    font-weight: lighter;
    color: var(--drop-dark);
    border:1px solid var(--drop-light);
    background-color: var(--drop-lighter);
}

.img-prt{
    width:60%;
}

.img-sm{
    width: 8.5rem;
}

.bg-c{
    background-color: var(--drop-designitbg);
}


.dsgnt{
    background-color: var(--drop-designit);
}

.asu{
    background-color: var(--drop-accent);
}

.uf{
    background-color: var(--drop-uf);
}

.tpp{
    background-color: var(--drop-topps);
}

.wbr{
    background-color: var(--drop-wbr);
}

.hc{
    background-color: var(--drop-second);
}

.lp{
    background-color: var(--drop-lp);
}

.cco{
    background-color: var(--drop-cco);
}

/*#endregion main*/

/*#region footer*/

.site-footer{
    background-color: var(--drop-dark);
    color: var(--drop-lighter);
}

.end-footer > hr{
    margin-right: 90%;
}


/*#endregion footer*/

